{% extends "base.html" %}
{% block content %}
<h1 style="color: aquamarine; font-size: 4em;text-decoration: underline;">Welcome to home page</h1>
<p><h1>This is the home page of my page .</h1></p>
<br>

<div class="container">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, in! Laborum accusantium minima autem dolorem sunt. Numquam hic maiores ratione consequuntur! Voluptates ex sint voluptatem, asperiores voluptate ducimus accusamus minima?
    Quam similique, cumque nobis asperiores, repellendus voluptatum deserunt aliquam dolore excepturi aspernatur ipsum eum maiores eligendi distinctio quia ab debitis voluptate enim! Adipisci perspiciatis id quod neque vero aliquid culpa!
    Iste molestias atque earum et. Vitae voluptas sunt ipsum aliquam, at minima temporibus dignissimos adipisci illo odio debitis dolorem expedita ab laborum iste reiciendis nostrum recusandae esse sint officia. Ad.

</div>

{% endblock %}
    
    
    
