{% extends "base.html" %}
{% block content %}
<div class="container">
<h1 style="color: navy;font-size: 4em;text-decoration: underline;">SIGN UP!</h1>

</ul>
<form action="" method="post">
    {{ user_form.csrf_token()}}
    {{ user_form.username.label(class="form-label") }}
    {{ user_form.username (size=50,class="form-control w-100") }}

    {{ user_form.first_name.label (class="form-label")}}
    {{ user_form.first_name (class="form-control w-100")}}

    {{ user_form.last_name.label (class="form-label")}}
    {{user_form.last_name (class="form-control w-100")}}

    {{ user_form.password.label (class="form-label")}}
    {{ user_form.password (class="form-control w-100")}}

    {{ user_form.submit (class="btn-primary,form-control w-100")}}

   
</form>
</div>
{% endblock %}
