{% extends "base.html" %}

{% block content %}
<h1 style="color: navy;font-size: 4em;text-decoration: underline;">This is tasks page</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    {{ form.title.label(class="form-label") }}
    {{ form.title(size=20,class="form-control w-100") }}

    {{ form.description.label(class="form-label") }}
    {{ form.description(class="form-control w-100")}}

    {{ form.completed.label(class="form-label")}}
    {{ form.completed }}

    {{ form.submit(class=" btn-primary,form-control w-100")}}

</form>
<h1  style="text-decoration: underline; ">TASKS LIST</h1>

<div  class="list-group">
    {% for task in tasks %}
    <form action="{{ url_for('toggle_task', task_id=task.id) }}" method="post" style="display: inline;">
    <input type="checkbox"

    {% if task.completed %} checked

    {% endif %}

    onchange="this.form.submit()"

id="tasks-{{ task.id }}">
</form>
<p class="list-group-item">{{ loop.index }}. {{ task.title }}  -  {{ task.description }}</p>

<form action="{{ url_for('delete_task', task_id=task.id) }}" method="post" onsubmit="return confirm('Are you sure you want to delete this task?');">
    <button type="submit" class="btn btn-danger btn-xx-lg">Delete</button>
</form>
    {% endfor %}
</div>
<div>

</div>

{% endblock %}
